@import "mixins.scss";
@import "global/normalize.scss";
@import "global/fonts.scss";
@import "variables.scss";

@import "blocks/page-header.scss";
@import "blocks/nav-menu.scss";
@import "blocks/socials.scss";
@import "blocks/btn.scss";
@import "blocks/about.scss";
@import "blocks/ingredients.scss";
@import "blocks/menu.scss";
@import "blocks/dish.scss";

body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'YesevaOne', serif;
}