@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.ttf") format("TrueType");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "YesevaOne";
  src: url("../fonts/YesevaOne.ttf") format("TrueType");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf") format("TrueType");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GentiumBookBasic";
  src: url("../fonts/GentiumBookBasic-Regular.ttf") format("TrueType");
  font-style: normal;
  font-weight: normal;
}