.about {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../img/dish.png), url(../img/about-bg.jpg);
    background-repeat: no-repeat, repeat;
    background-position: center right 22%, center;

    @media (max-width: $bp-xl) {
        background-image: url(../img/about-bg.jpg);
        background-repeat: repeat;
        background-position: center;
    }

    @media (max-width: $bp-m) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.about__wrapper {
    @include wrapper;
    display: flex;
}

.about__info {
    max-width: 430px;
    display: flex;
    flex-direction: column;
    margin-left: 110px;
    margin-right: 110px;
    text-align: center;
    align-items: center;

    @media (max-width: $bp-xl) {
        max-width: none;
        width: 100%;
    }

    @media (max-width: $bp-m) {
        margin-left: 0;
        margin-right: 0;
    }
}

.about__title {
    position: relative;
    margin: 0;
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: normal;
    color: #cc9900;

    &::before {
        content: '';
        position: absolute;
        width: 247px;
        height: 24px;
        background: url('../img/divider-gold.png');
        left: 50%;
        transform: translateX(-50%);
        bottom: -35px;
    }
}

.about__text {
    width: 100%;
    line-height: 1.5;
}

.about__cook {
    margin-top: 32px;
    margin-bottom: 15px;
    margin-left: 65px;
}