.ingredients {
    display: flex;
    background-image: url(../img/ingredients-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    color: #ffffff;
}

.ingredients__wrapper {
    @include wrapper;
    display: flex;
    justify-content: flex-end;
}

.ingredients__info {
    flex-direction: column;
    display: flex;
    width: 35%;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 40px;
    padding: 70px 65px;
    text-align: center;
    line-height: 1.5;
    background-color: rgba(0, 0, 0, 0.5);

    @media (max-width: $bp-xl) {
        width: 100%;
        margin-right: 0;
    }

    @media (max-width: $bp-m) {
        padding-left: 30px;
        padding-right: 30px;
    }

    @media (max-width: $bp-s) {
        margin-top: 40px;
        margin-bottom: 40px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.ingredients__title {
    position: relative;
    font-size: 36px;
    font-weight: normal;
    margin: 0;
    margin-bottom: 60px;

    &::before {
        content: '';
        position: absolute;
        width: 247px;
        height: 24px;
        background: url('/img/divider-white.png');
        left: 50%;
        transform: translateX(-50%);
        bottom: -35px;
    }
}

.ingredients__text {
    margin: 0;
    margin-bottom: 70px;

    @media (max-width: $bp-s) {
        margin-bottom: 30px;
    }
}

.ingredients__icons {
    display: flex;
    justify-content: space-around;

    img {
        margin-left: 15px;
        margin-right: 15px;
        height: auto;
        max-width: 30%;

        @media (max-width: $bp-m) {
            margin-left: 5px;
            margin-right: 5px;
        }
    }

    @media (max-width: $bp-xl) {
        justify-content: center;
    }

    
}